.main-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media screen and (max-width: 768px) {
    	grid-template-columns: repeat(2, 1fr);
    	gap: 30px 20px;
    }

    @media screen and (max-width: 425px) {
    	grid-template-columns: 1fr;
    }
}