.nft-card {
    position: relative;

    &__link {
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	z-index: 3;
    }

    &__image {
    	padding-top: 120%;
    	border: 10px solid rgba(var(--color-11));

    	@media screen and (max-width: 1820px) {
    		border-width: calc(8px + 2 * (100vw - 320px) / (1820 - 320));
    	}
    }

    &__inner {
    	margin-top: 20px;
    	text-align: center;
    }

    &__title {
    	text-transform: uppercase;
    	letter-spacing: 0.1em;
    	line-height: 1.5;
    	font-weight: 400;
    	font-size: 18px;
    	color: rgba(var(--color-01));

    	@media screen and (max-width: 1820px) {
    		font-size: calc(16px + 2 * (100vw - 320px) / (1820 - 320));
    	}
    }

    &__price {
    	text-transform: uppercase;
    	line-height: 1.5;
    	font-weight: 700;
    	font-size: 16px;
    	color: rgba(var(--color-01));

    	@media screen and (max-width: 1820px) {
    		font-size: calc(14px + 2 * (100vw - 320px) / (1820 - 320));
    	}
    }
}