.slider-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;

    @media screen and (max-width: 1820px) {
    	margin-top: calc(30px + 10 * (100vw - 320px) / (1820 - 320));
    }

    &__inner {
    	position: relative;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	flex-basis: 240px;

    	@media screen and (max-width: 1820px) {
    		flex-basis: calc(160px + 80 * (100vw - 320px) / (1820 - 320));
    	}

    	&::before {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		height: 100%;
    		width: 2px;
    		background-color: rgba(var(--color-07));
    		transform: translate(-50%, -50%);
    		content: '';
    	}
    }
}