.slider-link {
    display: inline-block;
    padding-bottom: 1px;

    &__text {
    	border-bottom: 1px solid rgba(var(--color-01));
    	text-transform: uppercase;
    	letter-spacing: 0.1em;
    	line-height: 1.5;
    	font-weight: 400;
    	font-size: 14px;
    	color: rgba(var(--color-01));

    	@media screen and (max-width: 1440px) {
    		font-size: calc(12px + 2 * (100vw - 320px) / (1440 - 320));
    	}
    }
}