:root {
    --default-container-width: 1820px;
    --container-padding-value: 20px;
    --header-source-height: 100px;
    --header-mobile-height: 70px;
    --color-01: 23, 23, 23;     /* #171717 */
    --color-02: 33, 33, 33;     /* #212121 */
    --color-03: 73, 73, 73;     /* #494949 */
    --color-04: 108, 107, 103;  /* #6c6b67 */
    --color-05: 130, 130, 130;  /* #828282 */
    --color-06: 183, 181, 173;  /* #b7b5ad */
    --color-07: 199, 199, 199;  /* #c7c7c7 */
    --color-08: 205, 205, 205;  /* #cdcdcd */
    --color-09: 210, 209, 204;  /* #d2d1cc */
    --color-10: 219, 219, 219;  /* #dbdbdb */
    --color-11: 239, 238, 235;  /* #efeeeb */
    --color-12: 253, 253, 252;  /* #fdfdfc */
}