@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/cormorant/400/cormorant_400.woff2') format('woff2'),
    url('../assets/fonts/cormorant/400/cormorant_400.woff') format('woff'),
    url('../assets/fonts/cormorant/400/cormorant_400.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/cormorant/500/cormorant_500.woff2') format('woff2'),
    url('../assets/fonts/cormorant/500/cormorant_500.woff') format('woff'),
    url('../assets/fonts/cormorant/500/cormorant_500.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/jost/300/jost_300.woff2') format('woff2'),
    url('../assets/fonts/jost/300/jost_300.woff') format('woff'),
    url('../assets/fonts/jost/300/jost_300.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 300;
    font-style: italic;
    src: url('../assets/fonts/jost/300i/jost_300i.woff2') format('woff2'),
    url('../assets/fonts/jost/300i/jost_300i.woff') format('woff'),
    url('../assets/fonts/jost/300i/jost_300i.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/jost/400/jost_400.woff2') format('woff2'),
    url('../assets/fonts/jost/400/jost_400.woff') format('woff'),
    url('../assets/fonts/jost/400/jost_400.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/jost/500/jost_500.woff2') format('woff2'),
    url('../assets/fonts/jost/500/jost_500.woff') format('woff'),
    url('../assets/fonts/jost/500/jost_500.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/jost/700/jost_700.woff2') format('woff2'),
    url('../assets/fonts/jost/700/jost_700.woff') format('woff'),
    url('../assets/fonts/jost/700/jost_700.ttf') format('truetype');
}